@import "./vars.scss";

@mixin defaultButton(
  $font-size: $font-size-sm,
  $color: $black,
  $bgColor: $white,
  $padding: $spacing-sm,
  $borderColor: $light-grey,
  $radius: 0
) {
  padding: $padding;
  background-color: $bgColor;
  border-radius: $radius;
  border: 1px solid $borderColor;
  font-size: $font-size;
  color: $color;
  text-align: center;
  line-height: 1;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  &:focus,
  &:active & {
    outline: none;
  }
}

@mixin defaultList($direction: column, $inline: block) {
  display: if($inline == block, flex, inline-flex);
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin defaultInput($padding: $spacing-sm, $width: 150px) {
  padding: $padding;
  width: $width;
}
