/* Media Queries Break Point*/
$MQ-sm: 576px;
$MQ-md: 768px;
$MQ-lg: 992px;
$MQ-xl: 1200px;
$MQ-xxl: 1400px;

/* Sizes */

$footerHeight: 30px;
$navbarHeight: 100px;
$navbarHeightMQ600Min: 50px;

$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 28px;

$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 12px;
$spacing-xl: 16px;

/* Colors */

$white: #fff;
$very-light-grey: #e0e0e0;
$light-grey: #b1b1b1;
$grey: #8b8b8b;
$dark-grey: #535353;
$very-dark-grey: #292929;
$black: #000;
